* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
html{
background-color: black;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal; font-variant: normal;
  background-size: cover;
  height: 100vh;
  color: #f2f2f2;
}

html,body { overflow: hidden }


.indexImage {
  width: 250px;
  height: 250px;
  padding: 15px;
  float: left;
  transition: 2s;
  border-radius: 100px;
}

#content {
  top: 0px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: rgba(0,0,0,0);
  overflow: auto;
}

.animation-area {
  background: linear-gradient(to left, #F9D199, #02B3EF);
  width: 100%;
  height: 100vh;
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,0.2);
  border-radius: 20px;
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate{
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }

}

#home-overlay {
  width: 90%;
  height: 60%;
  top: 0;
  left: 0;
  z-index: -1;
}

#home-content {
  width: 100%;
  height: 100%;
  display: table;
  margin-top: 260px;
}

#home-content-innner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px; 
  font-style: italic; 
  font-variant: normal; 
  font-weight: 1000; 
  color: white;
  font-size: calc(2vw + 2vh + .5vmin);
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: auto;
  margin: 0;
  transition: 0.5s;
}

#home-heading h1 span {
  color: #ADD8E6;
  font-weight: 700;
  transition: 0.5s;
}

#home-heading h1 span:hover {
  color: #3A9FBF;
}

#home-text p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 19px;
  font-weight: 700;
  margin: 8px 0 30px 0;
  transition: 0.5s;
}

.title {
  float:right;
  font-family: 'Arial Black', sans-serif;
  color: white;
  font-size: calc(1vw + 1vh + .5vmin);
}

.mainTitle {
  width: 100%;
  padding-bottom: 30px;
  text-align: left;
  padding-left: 50px;
  position: fixed; 
  background: linear-gradient(to left, #F9D199, #02B3EF);
}

div.center {
  text-align: center;
  color: white;
}
/*div.shadow {
  border: 1px solid;
  padding: 10px;
  background:rgba(1,1,1,0.5);
  font-family: Palatino Linotype, Book Antiqua, serif;
  font-size: 17px;
}*/

#fadeinOut {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

#fadeinOutNav {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

ul.topnav {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px; 
  font-style: italic; 
  font-variant: normal; 
  font-weight: 1000; 
  line-height: 26.4px;
  width: 100%;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  transition: 0.5s;
  position: fixed; 
  background: linear-gradient(to left, #F9D199, #02B3EF);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
  background: rgba(0,0,0,0.05);
  border-radius: 20px;
  color:  white;
  transition: 1s;
}
ul.topnav li a.active {
  background: rgba(0,0,0,0.05);
  border-radius: 20px;
  color:  white;
}
ul.topnav li.icon {
  display: none;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 

  display: inline-block;
  border-radius: 20px;
  background:rgba(255,255,255,0.1);
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 46px 12px;
  width: 180px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 0px 6px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
  background:rgba(255,255,255,0.2);
  color: white;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.fa {
  right: -0.8px; 
  position: fixed;
  padding: 10px;
  font-size: 20px;
  width: 8vw;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  border: none;
  margin: 0;
  object-fit: scale-down;
  transition: 0.5s;
  background:rgba(255,255,255,0.1);
  color: #3A9FBF;
  border-top-left-radius:  20px;
  border-bottom-left-radius:  20px;

}

.fa-facebook{top: 50%; }
.fa-linkedin {top: 42%; }
.fa-github {top: 34%; }
.fa-envelope{top: 26%; }
.fa-phone{top: 18%;}

.fa:hover {
  text-decoration: none;
  color: white;
}

.fa-facebook:hover {
  background-color: #3B5998;
}

.fa-linkedin:hover {
  background-color: #0077B5;
}

.fa-github:hover {
  background-color: #6E5494;
}

.fa-envelope:hover {
  background-color: #1F64AF;
  }

.fa-phone:hover {
  background-color: #1F64AF;
  }

a.fa-facebook:hover {font-size:300%;}
a.fa-linkedin:hover {font-size:300%;}
a.fa-github:hover {font-size:300%;}
a.fa-envelope:hover {font-size:300%;}
a.fa-phone:hover {font-size:300%;}

table {
  width:60%;
  margin: auto;
  color: white;
  background:rgba(255,255,255,0);
  border-radius: 30px;
  table-layout:fixed;
}

table, th, td {
  border-collapse: collapse;
}
th { 
text-align: left;
color: #ffffff;
}

iframe {
  width: 21vw; 
  height: 21vh;
  overflow: hidden;
}

.pokeSouth {
  width: 21vw; 
  height: 21vh;
}

th, td {
  font-size: calc(.8vw + .8vh + .5vmin);
  padding: 15px;
  border:none;
}

td {
  text-align: center;

  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;
}

ta {
  text-align: center;
  color: #3A9FBF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px; 
  font-style: italic; 
  font-variant: normal; 
  font-weight: 1000; 
  line-height: 26.4px; 
  font-size: calc(.9vw + .9vh + .9vmin);
  font-weight: 700;
  transition: 0.8s;
}

.languageImages {
  width: 8vw;
  height: 8hw;
}

.modal-content {
  color: black;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem;
  color: whitesmoke;
  background:rgba(255,255,255,0.3);
  transition: 0.5s;
}

.footerContact {
  font-family: Arial, Helvetica, sans-serif;

  font-style: italic; 
  font-variant: normal; 
  font-weight: 1000; 
  line-height: 26.4px; 
  color: #ffffff;
 float: right;
}
@media screen and (max-width: 1300px){
  .indexImage{
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 900px){
  iframe {  
    width: 200px; 
    height: 100px;
  }

  a.fa-facebook:hover {font-size:220%;}
  a.fa-linkedin:hover {font-size:220%;}
  a.fa-github:hover {font-size:220%;}
  a.fa-envelope:hover {font-size:220%;}
  a.fa-phone:hover {font-size:220%;}
}
@media screen and (max-width:1000px) {
  #home-text {display: none;}
  #home-heading h1{font-size: 40px;}
  table {width: 100%}
  .footer {text-align: center;}
  .footerContact {display: none;}
}

@media screen and (max-width:800px) {
  .fa{display:none;}
  ul.topnav li:not(:first-child) {
    display: none;
    top: 70px;
  }
  ul.topnav li.icon {
    float: left;
    display: inline-block;
  }
}

@media screen and (max-width:800px) {
  ul.topnav.responsive {position: fixed;
  width: 100%;}
  ul.topnav.responsive li.icon {
    left: 0;
    top: 70px;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
}