* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-weight: bold;
    color: #EEE;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*body, html {
    min-height: 100%;
    margin: 0;
}*/


section {
    padding: 6rem 0;
}

body {
    width: 100%;
    height: 100%;
}

#content {
    top: 0px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: rgba(0,0,0,0);
    overflow: auto;
  }

.animation-area {
    background: linear-gradient(to top,#140257,	#35025f, rgb(34, 23, 85)) fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  
  .box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
    animation: animate 20s linear infinite;
    bottom: -150px;
  }
  
  .box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  
  .box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
  }
  
  .box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
  }
  
  .box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
  }
  
  .box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
  }
  
  .box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
  }
  
  @keyframes animate{
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(-800px) rotate(360deg);
      opacity: 0;
    }
  
  }

a {
    text-decoration: none;
    color: #EEE;
}

p {
    font-size: 1.8rem;
    font-weight: 300;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
    padding: 3rem 4rem;
    box-shadow: 0 4px 8px 0 #FD57BF, 0 6px 20px 0 #FD57BF;
}

.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1 {
    font-size: 3.5rem;
    color: rgba(255,255,255,0.3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 20px;
}

.section-heading h1::before,
.section-heading h1::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.75);
}

.section-heading h1::before {
    width: 10rem;
    height: 2px;
    border-radius: .5rem;
}

.section-heading h1::after {
    width: 3rem;
    height: 1rem;
    border-radius: .5rem;
    bottom: -1rem;
}

.section-heading h6 {
    font-size: 2rem;
    font-weight: 300;
    margin: 30px;
}

.has-margin-right {
    margin-right: 5rem;
}

header {
    width: 100%;
    height: 100vh;
}

.top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: #310257;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
    display: flex;
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

.nav-link {
    font-family: 'Berkshire Swash', Helvetica, sans-serif;
    font-size: 5rem;
    padding: 1rem
}

.nav-link:hover,
.nav-link:focus {
    background: linear-gradient(to top, #FFE838, #FD57BF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.menu-toggler {
    position: absolute;
    top: 5rem;
    right: 5rem;
    height: 5rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open {
    transform: rotate(-45deg);
}

.bar {
    background: linear-gradient(to right, #FFE838, #FD57BF);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half {
    width: 50%;
}

.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.1, 0.57, 0.57);
}

.open .bar.start {
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.1, 0.57, 0.57);
}

.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1 {
    font-size: 10rem;
    font-family: 'Berkshire Swash', Helvetica, sans-serif;
    background: linear-gradient(to top, #FFE838, #FD57BF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
    transition: 2s;
}

.landing-text h6 {
    font-size: 2rem;
    font-weight: 300;
}

.landing-text button {
    padding: 1rem 2rem;
    margin-top: 30px;
    background-color: rgb(145, 50, 173);
    border: none;
    border-radius: 20px;
    animation: pulse 2s infinite;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.landing-text button:hover {
    animation: pulseHover 2s infinite;
    background-color: rgb(206, 187, 44);
    color: #333;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1 {
    font-size: 10rem;
    opacity: .3;
}

.about-heading h6 {
    font-size: 2rem;
    font-weight: 300;
}

.profile-img {
    flex: 1;
    margin-right: 5rem;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 14px 28px 0 rgba(0, 0, 0, 0.19);
}

.about-details {
    flex: 1;
}

.social-media {
    margin-top: 5rem;
}

.social-media i {
    font-size: 5rem;
    transition: color 650ms;
}

.fa-facebook-square:hover {
    color: rgb(87, 130, 221);
}

.fa-github-square:hover {
    color: rgb(156, 120, 209);
}

.fa-linkedin:hover {
    color: rgb(3, 162, 248);
}

.fa-paperclip:hover{
    color: rgb(58, 158, 0);
}

.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.icon-container {
    width: 10rem;
    height: 10rem;
    border: 3px solid #FFE838;
    background-color: #FD57BF;
    margin-bottom: 2rem;
    animation: animate infinite;
    display: flex;
    transform: rotate(45deg);
    border-radius: 20px;
}

.icon-container i{
    color: #FFE838;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}

.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.profile-img{
    width: 50rem;
    flex: 1;
}

.portfolio-description{
    flex: 2;
}

.portfolio-description h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.6;
    margin: 1rem 0;
    color: #FFE838;
}

.portfolio-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-description .cta {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color:white;
    padding:20px;
    background: rgb(145, 50, 173);
    padding: 1rem;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to left,
    transparent,
    transparent 50%,
    rgb(185, 60, 223) 50%,
    rgb(185, 60, 223));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 0.5s ease-in;
}

.portfolio-description .cta:hover {
    background-position: 0 0;
    color:#333;
}

.github {
    text-decoration: underline;
}

.timeline ul {
    border-left: 4px solid #FFE838;
    border-radius: .8rem;
    background-color: rgba(0,0,0,.05);
    margin: 0 auto;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}

.timeline h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
}

.timeline .date{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type{
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -24rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after {
    content: '';
    box-shadow: 0 0 0 4px #FD57BF;
    border-radius: 100%;
    left: -8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #FFE838;
}

.contact {
    background-color: #310257;
}

form {
    width: 70%;
    margin: 0 auto;
}

form label {
    font-size: 1.5rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-left: 5px;
    border: none;
    outline-color: #FD57BF;
}

textarea {
    resize: none;
}

input[type="submit"] {
    text-transform: uppercase;
    width: initial;
    background-color: #FD57BF;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover {
    color: #221e3f;
    background-color: #FFE838;
}

.copyright {
    width: 100%;
    text-align: center;
    background-color: #140257;
    padding: 2rem 0;
    position: relative;
}

.up a {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #EEE;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i {
    color: #21048a;
    font-size: 2rem;
    margin: auto;
}

.copyright p {
    font-size: 1.4rem;
}


#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    display: none;
    z-index: 8888;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(253,87,191,0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253,87,191,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253,87,191,0);
    }
}

@keyframes pulseHover {
    0%{
        box-shadow: 0 0 0 0 rgb(255, 232, 56, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgb(255, 232, 56,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgb(255, 232, 56, 0);
    }
}

@media screen and (max-width: 1500px) {
    .top-nav .nav-list{
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .landing-text h1 {
        font-size: 15rem;
    }
    .landing-text h6 {
        font-size: 1.7rem;
    }
    .li {
        margin: 2rem 0;
    }
    .nav-list{
        flex-direction: column;
    }
    .nav-link {
        font-size: 4.5rem;
    }
    .about-heading h1 {
        font-size: 8rem;
    }
    .about-details .nav-list {
        flex-direction: initial;
    }
    .about-details li {
        margin: 0 2rem;
    }
    .section-heading h1 {
        font-size: 3rem;
    }
    .icon-container {
        width: 7rem;
        height: 7rem;
    }
    .icon-container i {
        font-size: 4rem;
    }
    .timeline ul {
        margin: 0 0 0 auto;
    }
    .timeline .date::before {
        left: -23rem;
    }
    .timeline .date::after {
        left: -5.9rem;
    }
    .portfolio-item {
        flex-direction: column;
    }
    .portfolio-img {
        margin: 0 0 2rem 0;
        order: 1;
    }
    .portfolio-description {
        margin: 0;
        order: 2;
    }
}

@media screen and (max-width: 600px) {
    .menu-toggler {
        top: 2rem;
        right: 2rem;
    }
    .landing-text h1 {
        font-size: 8rem;
    }
    .landing-text h6 {
        font-size: 1.4rem;
    }
    .nav-link {
        font-size: 3.5rem;
    }
    .about .container {
        flex-direction: column;
    }
    .profile-img{
        margin: 0 0 7rem 0;
    }
    .portfolio-item {
        flex-direction: column;
    }
    .portfolio-img {
        margin: 0 0 2rem 0;
        order: 1;
    }
    .portfolio-description {
        margin: 0;
        order: 2;
    }
    .timeline p {
        font-size: 1.6rem;
    }
    .timeline .date::before{
        font-size: 1.4rem;
    }
    form {
        width: 100%;
    }
    .up {
        right: 2rem;
    }
}